@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");
:root {
	--secondary-color: #fde68a;
	--secondary-light: #fef3c7;
	--secondary-dark: #fcd34d;
	--primary-color: #34d399;
	--primary-light: #6ee7b7;
	--primary-off-white: #ecfdf5;
}
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-attachment: fixed;
	min-width: 350px;
	overflow-x: hidden;
	margin: auto;
	background-image: url("background.jpg");
	overflow: hidden;
}
textarea {
	display: block;
	resize: none;
	outline: none;
}

.link {
	text-decoration: none;
}
.navigation {
	background-color: var(--primary-color);
	padding: 0.6rem 0rem;
	text-align: center;
	width: 100%;
	top: 0;
	color: var(--secondary-color);
}
.navigation h1 {
	margin: 0.2rem;
	text-decoration: bold;
	font-size: 2rem;
}
.hero {
	text-align: center;
}
.hero-img {
	width: 35%;
	max-width: 400px;
	min-width: 200px;
}
.container {
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.boxes {
	width: 70%;
	margin: 1rem auto;
	background-color: var(--primary-light);
	border: 2px solid black;
	text-align: left;
	font-family: "Mukta", sans-serif;
	font-size: 1.3rem;
	padding: 1.5rem 1rem;
	text-decoration: bold;
	border-radius: 2rem;
	margin: 1.5rem auto;
}

.boxes:hover {
	border: 5px solid black;
}
.boxes #banana-talk {
	font-size: 1.6rem;
	text-align: left;
}
.boxes input,
label {
	display: block;
	margin-top: 0.9rem;
}
.btn {
	border: 2px solid var(--primary-color);
	border-radius: 1rem;
	text-decoration: none;
	font-size: 2rem;
	margin: auto;
	font-family: "Mukta", sans-serif;
	background-color: var(--secondary-dark);
	color: var(--primary-color);
	padding: 0.8rem;
	font-family: "Source Sans Pro", sans-serif;
}

.btn:hover {
	border: 3px solid var(--secondary-dark);
	background-color: var(--primary-color);
	color: var(--secondary-dark);
}
.btn-content {
	margin: 0.4rem 1.5rem;
}
.change-register {
	text-align: center;
	width: 90%;
	height: 90%;
	margin: auto;
}

th {
	text-align: left;
	padding: 0.6rem;
}
td {
	text-align: left;
	padding: 0.6rem;
}
.error-msg {
	font-size: 0.9rem;
	color: red;
}
.footer {
	background-color: var(--primary-color);
	height: 5vh;
	padding: 1rem;
	text-align: center;
	padding-bottom: 2.7rem;
	position: fixed;
	left: 0;

	margin: 0 auto;
	bottom: 0;
	width: 100%;
}
.footer-content {
	margin: 1rem;
}
.footer-link {
	color: var(--secondary-dark);
}
.footer-link:hover {
	color: var(--secondary-light);
}
#cash-input,
#bill-input {
	border-radius: 0.5rem;
	padding: 1rem;
	width: 60%;
	outline: none;
	border: 1px solid;
}
@media screen and (max-width: 600px) {
	.boxes {
		width: 95%;
		text-align: left;
	}

	.change-register {
		font-size: 1rem;
		padding: 0.4rem;
		text-align: left;
		margin: 1rem auto;
		width: 100%;
		text-indent: 0rem;
	}
	tr {
		margin: 0rem;
		text-align: left;
	}
	td,
	th {
		padding: 0.2rem;
		text-align: left;
	}
}
